/* blend.ejs > table */

table {
  width: 100%;
}

table tr th {
  width: 40%;
  font-size: 24px;
  text-align: center;
}

table tr {
  height: 100px;
}

table tr:nth-child(1) th {
  background-color: rgba(227, 93, 63, 0.7);
  font-size: 24px;
}

table tr:nth-child(2) th {
  background-color: rgba(255, 255, 255, 0.2);
}

table tr:nth-child(3) td {
  background-color: rgba(255, 255, 255, 0.2);
}

table tr:nth-child(4) th {
  background-color: rgba(255, 255, 255, 0.2);
}

table tr:nth-child(5) td {
  background-color: rgba(255, 255, 255, 0.2);
}

table textarea {
  width: 100%;
  height: 100px;
  color: white;
  font-size: 24px;
  background: none;
  padding-left: 30px;
  border: none;
  padding-top: 10px;
}

table textarea:focus {
  outline: none;
}

.user_teams input {
  display: none;
}

.user_teams label {
  width: 20%;
  margin: 0px;
  padding: 0px;
  display: block;
  float: left;
  height: 100px;
}

.user_teams label:nth-child(2) {
  border: 10px solid red;
}

.user_teams input:nth-child(1):checked + label {
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-color: red;
}

.user_teams label:nth-child(4) {
  border: 10px solid green;
}

.user_teams input:nth-child(3):checked + label {
  border: 10px solid rgba(0, 255, 0, 0.5);
  background-color: green;
}

.user_teams label:nth-child(6) {
  border: 10px solid blue;
}

.user_teams input:nth-child(5):checked + label {
  border: 10px solid rgba(0, 0, 255, 0.5);
  background-color: blue;
}

.user_teams label:nth-child(8) {
  border: 10px solid yellow;
}

.user_teams input:nth-child(7):checked + label {
  border: 10px solid rgba(255, 255, 0, 0.5);
  background-color: yellow;
}

.user_teams label:nth-child(10) {
  border: 10px solid skyblue;
}

.user_teams input:nth-child(9):checked + label {
  border: 10px solid rgba(0, 0, 125, 0.5);
  background-color: skyblue;
}



#user_name {
  width: 100%;
  height: 100px;
  color: white;
  font-size: 24px;
  background: none;
  padding-left: 30px;
  border: none;
}

#user_name:focus {
  outline: none;
}

#user_phone {
  width: 100%;
  height: 100px;
  color: white;
  font-size: 24px;
  background: none;
  padding-left: 30px;
  border: none;
}

#user_phone:focus {
  outline: none;
}

#user_invest1 {
  width: 100%;
  height: 100px;
  color: white;
  font-size: 24px;
  background: none;
  padding-left: 30px;
  border: none;
}

#user_invest1:focus {
  outline: none;
}

#write_button {
  margin: 0;
  padding: 0;
  height: 100px;
  border-radius: 0;
  width: 100%;
  font-size: 36px;
}

#write_button:focus {
  outline: none;
}

#go_to_list {
  position: fixed;
  bottom: 100px;
  right: 100px;
}

/* */
