<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <script>
            var write = null;

            $(document).ready(function() {
                //메모 쓰기 요청을 처리하는 부분입니다.
                var write = function(contents) {
                    var postdata = {
                        'user_name': $("#user_name").val(),
                        'user_phone': $("#user_phone").val(),
                        'user_invest1': $("#user_invest1").val(),
                        'user_invest2': $("#user_invest2").val(),
                        'user_invest3': $("#user_invest3").val(),
                        'user_invest4': $("#user_invest4").val(),
                        'user_invest5': $("#user_invest5").val(),
                        'contents': contents
                    };

                    $.post('/write', postdata, function() {
                        // load();
                    });
                };

                //화면 상단에서 새로운 메모를 작성하고 엔터키를 쳤을 때 쓰기 요청을 발생시키기 위한 부분입니다.
                // $("#write textarea").keypress(function(evt) {
                //     if ((evt.keyCode || evt.which) == 13) {
                //         if (this.value != "") {
                //             write(this.value);
                //
                //             evt.preventDefault();
                //
                //             $(this).val("");
                //         }
                //     }
                // });

                //쓰기 버튼을 눌렀을 때 쓰기 요청을 발생시키기 위한 부분입니다.
                $("#write_button").click(function(evt) {
                    var user_totalinvest = $("#user_invest1").val() * 1 + $("#user_invest2").val() * 1 + $("#user_invest3").val() * 1 + $("#user_invest4").val() * 1 + $("#user_invest5").val() * 1;
                    if (user_totalinvest != 1000) {
                        alert("에러! 총 투자 금액은 정확히 1000 이어야 합니다");
                        alert("현재 투자 금액은 " + user_totalinvest + " 입니다");
                    } else {
                        alert("App created! (username : " + $("#user_name").val() + ")");
                        alert("Check it at http://blenderkit.com/blended/list");
                        write($("#write textarea").val());
                    }
                });
            });
        </script>
</head>

<body id="page-top">
    <header>
        <div class="header-content">
            <div id='main' class="header-content-inner">
                <table id='write'>
                    <tr>
                        <th colspan="2">VOTE IT!</th>
                    </tr>
                    <tr>
                        <th>USER NAME</th>
                        <td><input id='user_name' class='user_name' type='text' placeholder='Type here' /></td>
                    </tr>
                    <tr>
                        <th>USER PHONE</th>
                        <td><input id='user_phone' class='user_phone' type='text' placeholder='Type here' /></td>
                    </tr>
                    <tr>
                        <th>USER INVEST</th>
                        <td><input id='user_invest1' class='user_invest' type='text' placeholder='Type here' /></td>
                        <td><input id='user_invest2' class='user_invest' type='text' placeholder='Type here' /></td>
                        <td><input id='user_invest3' class='user_invest' type='text' placeholder='Type here' /></td>
                        <td><input id='user_invest4' class='user_invest' type='text' placeholder='Type here' /></td>
                        <td><input id='user_invest5' class='user_invest' type='text' placeholder='Type here' /></td>
                    </tr>
                    <tr>
                        <th>USER NOTES</th>
                        <td>
                            <textarea placeholder="descriptions about app"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id='write_button' class="btn btn-primary btn-xl" type='button' value='VOTE!' />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </header>
    <a href="../blended/list" class="btn btn-success btn-xl" id="go_to_list">See all results</a>
    <% include ../partials/body_script %>
</body>

</html>
