<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <script>
            var write = null;

            $(document).ready(function() {
                //메모 쓰기 요청을 처리하는 부분입니다.
                var write = function(contents) {
                    var user_team;
                    if ($("#user_team1").is(":checked"))
                        user_team = 'color1';
                    if ($("#user_team2").is(":checked"))
                        user_team = 'color2';
                    if ($("#user_team3").is(":checked"))
                        user_team = 'color3';
                    if ($("#user_team4").is(":checked"))
                        user_team = 'color4';
                    if ($("#user_team5").is(":checked"))
                        user_team = 'color5';

                    var postdata = {
                        'user_name': $("#user_name").val(),
                        'user_team': user_team,
                        'user_phone': $("#user_phone").val(),
                        'user_invest1': $("#user_invest1").val(),
                        'contents': contents
                    };

                    $.post('/write', postdata, function() {
                        // load();
                    });
                };

                //화면 상단에서 새로운 메모를 작성하고 엔터키를 쳤을 때 쓰기 요청을 발생시키기 위한 부분입니다.
                // $("#write textarea").keypress(function(evt) {
                //     if ((evt.keyCode || evt.which) == 13) {
                //         if (this.value != "") {
                //             write(this.value);
                //
                //             evt.preventDefault();
                //
                //             $(this).val("");
                //         }
                //     }
                // });

                //쓰기 버튼을 눌렀을 때 쓰기 요청을 발생시키기 위한 부분입니다.
                $("#write_button").click(function(evt) {
                    if ($("#user_invest1").val() != 100) {
                        alert("ERROR!");
                    } else {
                        alert("App created! (username : " + $("#user_name").val() + ")");
                        alert("Check it at http://blenderkit.com/blended/list");
                        write($("#write textarea").val());
                    }
                });
            });
        </script>
</head>

<body id="page-top">
    <header>
        <div class="header-content">
            <div id='main' class="header-content-inner">
                <table id='write'>
                    <tr>
                        <th colspan="2">VOTE IT!</th>
                    </tr>
                    <tr>
                        <th>USER NAME</th>
                        <td><input id='user_name' class='user_name' type='text' placeholder='Type here' /></td>
                    </tr>
                    <tr>
                        <th>USER PHONE</th>
                        <td><input id='user_phone' class='user_phone' type='text' placeholder='Type here' /></td>
                    </tr>
                    <tr>
                        <th>USER INVEST1</th>
                        <td><input id='user_invest1' class='user_invest1' type='text' placeholder='Type here' /></td>
                    </tr>
                    <tr>
                        <th>USER CHOISE</th>
                        <td class="user_teams">
                            <input name="user_team" id="user_team1" type="radio" value="color1" checked />
                            <label for="user_team1"></label>
                            <input name="user_team" id="user_team2" type="radio" value="color2" />
                            <label for="user_team2"></label>
                            <input name="user_team" id="user_team3" type="radio" value="color3" />
                            <label for="user_team3"></label>
                            <input name="user_team" id="user_team4" type="radio" value="color4" />
                            <label for="user_team4"></label>
                            <input name="user_team" id="user_team5" type="radio" value="color5" />
                            <label for="user_team5"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>USER NOTES</th>
                        <td>
                            <textarea placeholder="descriptions about app"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id='write_button' class="btn btn-primary btn-xl" type='button' value='VOTE!' />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </header>
    <a href="../blended/list" class="btn btn-success btn-xl" id="go_to_list">See all results</a>
    <% include ../partials/body_script %>
</body>

</html>
