<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script>
        $(document).ready(function() {
            $('#not_matching').show();
            $('#cocktail_input').hide();
            $('#matching').hide();

            // $('#myTab a').click(function (e) {
            //   e.preventDefault()
            //   $(this).tab('show')
            // })

            var input_user_name = $('#cocktail_input').text();
            search_data(input_user_name);

        });

        function search_data(input_user_name) {
            $.get('/load', (data) => {
                $(data).each(function(i) {
                    var user_name = this.user_name;
                    if(input_user_name == user_name){
                        $('#not_matching').hide();
                        $('#matching').show();

                        $("#blend").prepend("<div class='item'></div>");

                        $("#cocktail_username").text(this.user_name);
                        $("#cocktail_contents").text(this.contents);
                        $("#cocktail_date").text(this.date);

                        if(this.app_color == 'color1') {
                            $('#cocktail_body').css("background-color", "red");
                        }
                        if(this.app_color == 'color2') {
                            $('#cocktail_body').css("background-color", "green");
                        }
                        if(this.app_color == 'color3') {
                            $('#cocktail_body').css("background-color", "blue");
                        }

                        return;
                    }
                });
            });
        }
    </script>
    <style>
    #cocktail_username {
        margin-top: 30px;
        font-size: 36px;
        text-align: center;
    }
    #cocktail_date {
        font-size: 10px;
        text-align: right;
    }

    </style>
</head>

<body id="cocktail_body">
    <p id="cocktail_input"><%= user_name %></p>
    <div id="not_matching">
        <h1>NOT MATCHING</h1>
    </div>
    <div id="matching">
        <div class="container">
            <div class="row">
                <div class="panel panel-success col-xs-offset-1 col-xs-10" id="cocktail_username">
                </div>
            </div>
            <div class="row">
                <div class="panel panel-primary col-xs-offset-1 col-xs-10" id="cocktail_contents">
                </div>
            </div>
            <div class="row">
                <div class="panel panel-info col-xs-offset-6 col-xs-5" id="cocktail_date">
                </div>
            </div>
            <div role="tabpanel">
            </div>

            </div>
        </div>
    </div>
    <% include ../partials/body_script %>
</body>

</html>
